body{
    background-image:url(imagess/scale_1200\ \(24\).webp) ;
    color: aliceblue;
}
a{
    text-decoration: none;
    text-align: none;
    color: aliceblue;
}
ul{
    text-align: none;
    color: azure;
}
ol{
    font-family:sans-serif;
    color: aliceblue;
    
}
h1{
    margin-left: 450px;
    color: aliceblue;
}